@page
@model E_Shop.Pages.MaBoutique.GestionBoutique.MediasModel
@{
}
<style>
    div.imageborder {
        border-radius: 999em;
        width: 125px;
        height: 125px;
        padding: 1px;
        line-height: 0;
        border: 5px solid #808080;
        background-color: #eee;
    }

    .imgMiniBout {
        display: block;
        background: transparent;
        padding: 8px;
        border: 1px solid #ccc;
        box-shadow: 10px 10px 10px #999;
        border-radius: 999em;
        height: 100%;
        width: 100%;
        margin: 0;
    }
</style>
<button type="submit" asp-page-handler="GestionBout" class="btn btn-primary">Retour à la page de gestion de votre Boutique</button>

@if (Model.medias.Count > 0)
{
    foreach (var item in Model.medias)
    {
        if (item.Description == "vignette")
        {
            <form method="post" enctype="multipart/form-data">
                <h4> Changer la vignette de votre boutique </h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FileNameImg"></label>
                    <input type="file" name="photo" accept="image/*" asp-for="FileNameImg" class="form-control" />
                    <span asp-validation-for="FileNameImg" class="text-danger"></span>
                </div>
                <input name="mediaId" value="@item.Mediaid" hidden />

                <button type="submit" asp-page-handler="ImgV" class="btn btn-primary">Envoyer</button>
            </form>
            <div class="imageborder">
                <span>
                    <img class="imgMiniBout" src="@item.Lien" />
                </span>
            </div>
        }
        if (item.Description == "pano")
        {
            <form method="post" enctype="multipart/form-data">
                <h4> Changer l'image de votre boutique </h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FileNameImg"></label>
                    <input type="file" name="photo" accept="image/*" asp-for="FileNameImg" class="form-control" />
                    <span asp-validation-for="FileNameImg" class="text-danger"></span>
                </div>
                <input name="mediaId" value="@item.Mediaid" hidden />

                <button type="submit" asp-page-handler="ImgP" class="btn btn-primary">Envoyer</button>
            </form>
            <span>
                <img src="@item.Lien" />
            </span>
        }
        if (item.Video == true)
        {
            <form method="post" enctype="multipart/form-data">
                <h4> Changer la vidéo de votre boutique </h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FileNameImg"></label>
                    <input type="file" name="photo" accept="image/*" asp-for="FileNameImg" class="form-control" />
                    <span asp-validation-for="FileNameImg" class="text-danger"></span>
                </div>
                <input name="mediaId" value="@item.Mediaid" hidden />

                <button type="submit" asp-page-handler="Vid" class="btn btn-primary">Envoyer</button>
            </form>
            <span>
                <iframe width="690" height="330" src="@item.Lien" frameborder='0' allowfullscreen='0'>
                </iframe>
            </span>
        }
    }
}