@page
@model E_Shop.Pages.MonPanier.PanierModel
@{
}
<style>
    div.imageborder {
        border-radius: 999em;
        width: 70px;
        height: 70px;
        padding: 1px;
        line-height: 0;
        border: 2px solid #808080;
        background-color: #eee;
    }

    .imgMiniBout {
        display: block;
        background: transparent;
        padding: 4px;
        border: 1px solid #ccc;
        box-shadow: 10px 10px 10px #999;
        border-radius: 999em;
        height: 100%;
        width: 100%;
        margin: 0;
    }
</style>
@if (Model.cart.prixTotal == 0)
{
    <h2>Panier Vide</h2>
}
@if (Model.cart.prixTotal > 0)
{
    <form method="post"></form>
    <div class="row mt-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <div class="align-self-center"><h4>Votre Panier</h4></div>
                </div>
                <div class="card-body">
                    @foreach (var btq in Model.cart.Btqs)
                    {
                        <div class="card">
                            <div class="card-header d-inline-flex justify-content-around  flex-wrap flex-row">
                                <div class="imageborder card-img-top">
                                    <img class="imgMiniBout card-img-top" src="@btq.lien" />
                                </div>
                                <div><h5>@btq.nom</h5></div>
                                <div class="text-muted">@btq.ItemsTotalprice €</div>
                            </div>
                            <div class="card-body">
                                @foreach (var item in btq.items)
                                {
                                    <div class="flex-row d-flex justify-content-center flex-wrap">
                                        <div class="d-inline-flex" style="width:50%;">
                                            <a href="/Produits/DetailsProduit/?prodId=@item.produit.Prodid" class="text-black-50 d-inline-flex">
                                                <img src="@item.lien" />
                                                <div class="d-inline-flex ml-3 mr-3">@item.produit.PNom</div>
                                            </a>
                                        </div>
                                        <div class="d-inline-flex">
                                            @if (item.format.Litre > 0)
                                            {
                                                <div class="d-inline-flex mr-3">@String.Format("{0:#,0.##}", item.format.Litre) l</div>

                                            }
                                            @if (item.format.Poids > 0)
                                            {
                                                <div class="d-inline-flex mr-3">@String.Format("{0:#,0.##}", item.format.Poids) kg</div>

                                            }
                                            <form asp-page-handler="ChangeQuantity" method="post">
                                                <input name="prodId" value="@item.produit.Prodid" hidden />
                                                <select name="quantity" onchange="this.form.submit()" class="form-control d-inline-flex mr-3" style="min-width:65px;max-width:65px;">
                                                    <option value="@item.quantity" selected>@item.quantity</option>
                                                    @for (int i = 1; i < 11; i++)
                                                    {
                                                        if (i != item.quantity)
                                                        {
                                                            <option value="@i">@i</option>
                                                        }
                                                    }
                                                </select>
                                            </form>
                                            <div class="d-inline-flex">@item.price €</div>
                                            <form asp-page-handler="DeleteProd" method="post">
                                                <input name="prodId" value="@item.produit.Prodid" hidden />
                                                <button onclick="this.form.submit()" class="btn btn-light d-inline-flex ml-3"><i class="fas fa-times"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <hr class="mt-1 mb-1" />
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <a href="/MaCommande/ChoixJourDeLivraison" class="btn btn-light float-right">Choisir le jour de livraison</a>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h4>Résumé</h4>
                </div>
                <div class="card-body">
                    @foreach (var btq in Model.cart.Btqs)
                    {
                        <div><h5>@btq.nom</h5></div>
                        <div class="text-muted">@btq.ItemsTotalprice €</div>
                        <hr class="mt-1 mb-1" />
                    }
                    <div>Montant total</div><div>@Model.cart.prixTotal €</div>
                    <a href="/MaCommande/ChoixJourDeLivraison" class="btn btn-block btn-light">Choisir le jour de livraison</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Blalaalla
                </div>
                <div class="card-body">
                    balala
                </div>
            </div>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var itemQ = document.getElementById("itemQ");
        var cartdiv = document.getElementById("cart");
        var carticon = document.getElementById("carticon");
        cartdiv.hidden = true;
        carticon.removeAttribute("onmouseover");
    });
    function ChangeQuantity(quantiy, prodid) {
        console.log("helleoeoeo");
        var token = document.querySelector("[name=__RequestVerificationToken]").value;
        var xhttp = new XMLHttpRequest();
        xhttp.responseType = 'json';
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
            }
            else {
                console.log(xhttp.status);
            }
            xhttp.open("get", '/MonPanier/Panier?handler=ChangeQuantity&prodId=' + prodid + '&quantity=' + quantiy, true);
            xhttp.setRequestHeader("XSRF-TOKEN", token);
            xhttp.send();
        }
    }

</script>