@page
@model E_Shop.Pages.Boutiques.DetailsBoutiqueModel
@{
}

<style>
    div.imageborder {
        border-radius: 999em;
        width: 125px;
        height: 125px;
        padding: 1px;
        line-height: 0;
        border: 5px solid #808080;
        background-color: #eee;
    }

    .imgMiniBout {
        display: block;
        background: transparent;
        padding: 8px;
        border: 1px solid #ccc;
        box-shadow: 10px 10px 10px #999;
        border-radius: 999em;
        height: 100%;
        width: 100%;
        margin: 0;
    }
</style>
@{
    var vignette = Model.boutique.Media.FirstOrDefault(m => m.Description == "vignette").Lien;
    var departement = Model.boutique.Localisations.FirstOrDefault(l => l.PrNom == null).Departement;
    var pano = Model.boutique.Media.FirstOrDefault(m => m.Description == "pano").Lien;
}
<div class="row align-items-center mt-3">
    <div class="col-sm-3 align-self-start list-group" id="list-example">
        <div class="card" style="position:fixed;" id="btqcard">
            <div class="imageborder align-self-center mt-2">
                <img class="imgMiniBout img-fluid" src="@vignette" />
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">@Model.boutique.BtqNom</h5>
                <i class="fas fa-map-marker-alt"></i>
                <p class="card-text">@departement</p>
                @foreach (var c in Model.categories)
                {
                    @foreach (var item in c.CatnavCategories)
                    {
                        var idCatCategorie = item.CatCategorie.Categorienom.Replace(" ", "").Replace("é", "").Replace("&", "");
                        var idCaten = item.Categorie.Categorienom.Replace(" ", "").Replace("é", "").Replace("&", "");
                        if (item.CatCategorie.Categorieid > 5)
                        {
                            <button class="list-group-item btn-block" type="button" data-toggle="collapse" data-target="#@idCatCategorie"
                                    aria-expanded="false" aria-controls="@idCatCategorie">
                                @item.CatCategorie.Categorienom
                            </button>
                            <div class="collapse" id="@idCatCategorie">
                                <button class="list-group-item btn-block" type="button" data-toggle="collapse" data-target="#@idCaten"
                                        aria-expanded="false" aria-controls="@idCaten">
                                    @item.Categorie.Categorienom
                                </button>
                                <div class="collapse" id="@idCaten">
                                    @foreach (var cat in item.Categorie.CatnavCatCategories)
                                    {
                                        if (cat.Categorie.Produits.Count > 0)
                                        {
                                            <div>
                                                <a class="list-group-item list-group-item-action" href="#@cat.Categorie.Categorieid">@cat.Categorie.Categorienom @cat.Categorie.Produits.Count</a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                                <button class="list-group-item btn-block" type="button" data-toggle="collapse" data-target="#@idCaten"
                                        aria-expanded="false" aria-controls="@idCaten">
                                    @item.Categorie.Categorienom
                                </button>
                                <div class="collapse" id="@idCaten">
                                    @foreach (var cat in item.Categorie.CatnavCatCategories)
                                    {
                                        if (cat.Categorie.Produits.Count > 0)
                                        {
                                            <div>
                                                <a class="list-group-item list-group-item-action" href="#@cat.Categorie.Categorieid">@cat.Categorie.Categorienom @cat.Categorie.Produits.Count</a>
                                            </div>
                                        }
                                    }
                                </div>

                        }

                    }
                    @*<button class="list-group-item btn-block" type="button" data-toggle="collapse" data-target="#@c.Categorienom" aria-expanded="false" aria-controls="@c.Categorienom">
                @c.Categorienom
            </button>
            <div class="collapse" id="@c.Categorienom">

                @foreach (var ce in c.CatnavCatCategories)
                {
                    <div>
                        <a class="list-group-item list-group-item-action" href="#@ce.Categorie.Categorieid">@ce.Categorie.Categorienom @ce.Categorie.Produits.Count</a>
                    </div>
                }
            </div>*@

                }
            </div>
        </div>
    </div>
    <div class="col-sm-9 scrollspy-example" data-spy="scroll" data-target="#list-example" data-offset="0" style="overflow: auto;">
        <div class="card pl-2">
            @if (Model.boutique.Media.Any(m => m.Video == true))
            {
                var video = Model.boutique.Media.FirstOrDefault(m => m.Video == true).Lien;

                <iframe width="690" height="330" src="@video" frameborder='0' allowfullscreen='0'></iframe>

            }
            @if (Model.boutique.Media.Any(m => m.Video == false))
            {
                <div class="ml-5 mt-2">

                    <img class="img-fluid" src="@pano" />

                </div>

            }
            <div class="card-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Avis client</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Informations administratives</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <p>@Model.boutique.BDescriptionL</p>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <p>Marcel : j'adore cette boutique !</p>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <p>
                            Raison sociale : @Model.boutique.Raisonsociale
                            <br />
                            N° SIRET : @Model.boutique.Siret
                            <br />
                            Inscrit depuis le : @Model.boutique.DateCreation
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var c in Model.categories)
        {
            <div class="text-center"><h3>@c.Categorienom</h3></div>
            

            @foreach (var ce in c.CatnavCatCategories)
            {
                <h5 id="@ce.Categorie.Categorieid">
                    @ce.Categorie.Categorienom
                </h5>
                for (int i = 0; i < Model.produits.Count; i+=3)
                {
    <div class="row justify-content-center">
        @foreach (var p in Model.produits.Skip(i).Take(3))
        {
        if (p.Categorieid == ce.Categorieid)
        {
        var media = p.Media.FirstOrDefault(m => m.Description == "mid");
        var format = p.Formats.FirstOrDefault();
        var prixAuKilo = format.Prix / format.Poids;
        var prixAuLitre = format.Prix / format.Litre;

        <div class="card mr-1" style="max-width: 17rem;">
            <img src="@media.Lien" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="/Produits/DetailsProduit/?prodId=@p.Prodid" class="stretched-link"></a>
                <h5 class="card-title">@p.PNom</h5>
                <p class="card-text">@p.PDescriptionC</p>
            </div>
            <div class="card-footer">
                @if (p.Rabais > 0)
                {
                    var prixRabais = Math.Round((decimal)format.Prix, 2) - Math.Round(((decimal)format.Prix * ((decimal)p.Rabais / 100)), 2);
                    <div class="float-lg-right">@prixRabais €</div>
                    <div class="float-lg-right">-@p.Rabais %</div>
                    <strike class="float-lg-right">@format.Prix €</strike>
                }
                @if (p.Rabais == 0)
                {
                    <div class="float-lg-right">@format.Prix €</div>
                }
                @if (format.Poids > 0)
                {
                    <div class="float-lg-left">
                        <div>
                            @format.Poids Kg
                        </div>
                        <div>
                            @prixAuKilo€/Kg
                        </div>
                    </div>
                }
                @if (format.Litre > 0)
                {
                    <div class="float-lg-left">
                        <div>
                            @format.Litre Kg
                        </div>
                        <div>
                            @prixAuLitre€/Kg
                        </div>
                    </div>
                }
            </div>
        </div>
        }
        }

    </div>
                }
            }

        }
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var btqcard = document.getElementById("btqcard");
        if (screen.width < 800) {
            btqcard.removeAttribute("style");
        }
    });

</script>