@page
@model E_Shop.Pages.Boutique.CreateBoutiqueStep11Model
@{
}
<style>
    div.imageborder {
        border-radius: 999em;
        width: 125px;
        height: 125px;
        padding: 1px;
        line-height: 0;
        border: 5px solid #808080;
        background-color: #eee;
    }
    .imgMiniBout {
        display: block;
        background: transparent;
        padding: 8px;
        border: 1px solid #ccc;
        box-shadow: 10px 10px 10px #999;
        border-radius: 999em;
        height: 100%;
        width: 100%;
        margin: 0;
    }

</style>
<div class="row">
    <div class="col-4">
        <div>@Model.step11.BtqNom</div>
        <br />
        <div class="imageborder">
            <span>
                <img class="imgMiniBout" src="@Model.step11.lienImg1" />
                <br />
            </span>
            <div>@Model.step11.Dept</div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            @if (Model.step11.lienVideo != null)
            {
                <iframe width="690" height="330" src="@Model.step11.lienVideo" frameborder='0' allowfullscreen='0'></iframe>

            }
            @if (Model.step11.lienVideo == null)
            {
            <img src="@Model.step11.lienImg2" />

            }
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>Description</h3>
                    <p>@Model.step11.BtqDescription</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Avis client</h3>
                    <p>Super Boutique !</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Informations administratives</h3>
                    <p>Raison sociale : @Model.step11.RaisonSociale</p>
                    <p>N° SIRET : @Model.step11.Siret</p>
                    <p>Adresse : </p>
                    <p>Inscrit depuis le : @Model.step11.dateCreation</p>
                </div>
            </div>
        </div>
    </div>
</div>