@page
@model E_Shop.Pages.Produits.ListeProduitsModel
@{
}
<div class="card-deck">
    @if (Model.listProduits.Count == 0)
    {
        <div>
            Aucun produit
        </div>
    }
    else
    {

        @foreach (var item in Model.listProduits)
        {
            var media = item.Media.FirstOrDefault(m => m.Description == "mid");
            var format = item.Formats.FirstOrDefault();
            var prixAuKilo = format.Prix / format.Poids;
                <div class="card" style="max-width: 18rem;">
                    <img src="@media.Lien" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.PNom</h5>
                        <p class="card-text">@item.PDescriptionC</p>
                    </div>
                    <div class="card-footer">
                        <div class="float-lg-right">@format.Prix €</div>
                        @if (format.Poids > 0)
                        {
                    <div class="float-lg-left">
                        <div>
                            @format.Poids Kg
                        </div>
                        <div>
                            @prixAuKilo€/Kg
                        </div>
                    </div>
                        }
                        @if (format.Litre > 0)
                        {
                            <div class="float-lg-left">@format.Litre l</div>
                        }
                    </div>
                </div>
        }

    }
</div>