@page
@model E_Shop.Pages.Produits.ListeProduitsModel
@{
}
@if (Model.byProd == false)
{

    @if (Model.listBtq == null)
    {
        <div>
            Aucun produit
        </div>
    }
    else
    {
        <style>
            div.imageborder {
                border-radius: 999em;
                width: 125px;
                height: 125px;
                padding: 1px;
                line-height: 0;
                border: 5px solid #808080;
                background-color: #eee;
            }

            .imgMiniBout {
                display: block;
                background: transparent;
                padding: 8px;
                border: 1px solid #ccc;
                box-shadow: 10px 10px 10px #999;
                border-radius: 999em;
                height: 100%;
                width: 100%;
                margin: 0;
            }
        </style>
		<form method="post">
		 <input name="id" value="@Model.id" hidden /><input name="page" value="@Model.page" hidden />
		 <button type="submit" asp-page-handler="ByProd" class="btn btn-primary">Afficher par produits</button>
		</form>
        <form type="submit" method="post" asp-page-handler="Geo">
            <input name="catId" value="@Model.id" hidden />
            <input name="pageIndex" value="@Model.page" hidden />
            @if (Model.regionChoisie == null)
            {
                <select name="region" onchange="this.form.submit()" class="form-control">
                    <option value="default" selected>filtrer par régions</option>
                    @foreach (var reg in Model.geo.Regions)
                    {
                        <option value="@reg.nom">@reg.nom (@reg.btqCount)</option>
                    }
                </select>
            }
            @if (Model.regionChoisie != null)
            {
                <select name="region" onchange="this.form.submit()" class="form-control">
                    <option value="@Model.regionChoisie.nom" selected>@Model.regionChoisie.nom</option>
                    @foreach (var reg in Model.geo.Regions)
                    {
                        if (reg.nom != Model.regionChoisie.nom)
                        {
                            <option value="@reg.nom">@reg.nom (@reg.btqCount)</option>
                        }
                    }
                </select>
                <select name="departement" onchange="this.form.submit()" class="form-control">
                    <option value="default">filtrer par départements</option>
                    @foreach (var dept in Model.regionChoisie.departements)
                    {
                        <option value="@dept.nom">@dept.nom (@dept.btqCount)</option>
                    }
                </select>
            }
        </form>
       
        @foreach (var btq in Model.listBtq)
        {
            var mediabtq = btq.Media.FirstOrDefault(m => m.Description == "vignette");
            var locabtq = btq.Localisations.FirstOrDefault(l => l.PrNom == null);
            @if (btq.Produits.Count > 0)
            {
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-2 align-self-start">
                                    <a class="btn text-center" href="/Boutiques/DetailsBoutique/?btqid=@btq.Btqid">
                                        <div class="imageborder">
                                            <img class="imgMiniBout" src="@mediabtq.Lien" />
                                        </div>
                                        <div>@btq.BtqNom</div>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <div>@locabtq.Departement</div>
                                    </a>
                                <a class="btn btn-light btn-block" href="/Boutiques/DetailsBoutique/?btqid=@btq.Btqid">Voir tous ses produits</a>
                            </div>
                            <div class="col-sm-10">
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="card-group">
                                                @foreach (var p in btq.Produits.Take(3))
                                                {
                                                    var media = p.Media.FirstOrDefault(m => m.Description == "mid");
                                                    var format = p.Formats.FirstOrDefault();
                                                    var prixAuKilo = format.Prix / format.Poids;
                                                    var prixAuLitre = format.Prix / format.Litre;

                                                    <div class="card" style="max-width: 18rem;">
                                                        <img src="@media.Lien" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <a href="/Produits/DetailsProduit/?prodId=@p.Prodid" class="stretched-link"></a>
                                                            <h5 class="card-title">@p.PNom</h5>
                                                            <p class="card-text">@p.PDescriptionC</p>
                                                        </div>
                                                        <div class="card-footer">
                                                            @if (p.Rabais > 0)
                                                            {
                                                                var prixRabais = Math.Round((decimal)format.Prix, 2) - Math.Round(((decimal)format.Prix * ((decimal)p.Rabais / 100)), 2);
                                                                <div class="float-lg-right">@prixRabais €</div>
                                                                <div class="float-lg-right">-@p.Rabais %</div>
                                                                <strike class="float-lg-right">@format.Prix €</strike>
                                                            }
                                                            @if (p.Rabais == 0)
                                                            {
                                                                <div class="float-lg-right">@format.Prix €</div>
                                                            }
                                                            @if (format.Poids > 0)
                                                            {
                                                                <div class="float-lg-left">
                                                                    <div>
                                                                        @format.Poids Kg
                                                                    </div>
                                                                    <div>
                                                                        @prixAuKilo€/Kg
                                                                    </div>
                                                                </div>
                                                            }
                                                            @if (format.Litre > 0)
                                                            {
                                                                <div class="float-lg-left">
                                                                    <div>
                                                                        @format.Litre L
                                                                    </div>
                                                                    <div>
                                                                        @prixAuLitre€/L
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        @if (btq.Produits.Count > 3)
                                        {
                                            @for (int i = 3; i <= btq.Produits.Count; i += 3)
                                            {
                                                <div class="carousel-item">
                                                    <div class="card-group">
                                                        @foreach (var p in btq.Produits.Skip(i).Take(3))
                                                        {
                                                            var media = p.Media.FirstOrDefault(m => m.Description == "mid");
                                                            var format = p.Formats.FirstOrDefault();
                                                            var prixAuKilo = format.Prix / format.Poids;
                                                            var prixAuLitre = format.Prix / format.Litre;

                                                            <div class="card" style="max-width: 18rem;">
                                                                <img src="@media.Lien" class="card-img-top" alt="...">
                                                                <div class="card-body">
                                                                    <a href="/Produits/DetailsProduit/?prodId=@p.Prodid" class="stretched-link"></a>
                                                                    <h5 class="card-title">@p.PNom</h5>
                                                                    <p class="card-text">@p.PDescriptionC</p>
                                                                </div>
                                                                <div class="card-footer">
                                                                    @if (p.Rabais > 0)
                                                                    {
                                                                        var prixRabais = Math.Round((decimal)format.Prix, 2) - Math.Round(((decimal)format.Prix * ((decimal)p.Rabais / 100)), 2);
                                                                        <div class="float-lg-right">@prixRabais €</div>
                                                                        <div class="float-lg-right">-@p.Rabais %</div>
                                                                        <strike class="float-lg-right">@format.Prix €</strike>
                                                                    }
                                                                    @if (p.Rabais == 0)
                                                                    {
                                                                        <div class="float-lg-right">@format.Prix €</div>
                                                                    }
                                                                    @if (format.Poids > 0)
                                                                    {
                                                                        <div class="float-lg-left">
                                                                            <div>
                                                                                @format.Poids Kg
                                                                            </div>
                                                                            <div>
                                                                                @prixAuKilo€/Kg
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    @if (format.Litre > 0)
                                                                    {
                                                                        <div class="float-lg-left">
                                                                            <div>
                                                                                @format.Litre Kg
                                                                            </div>
                                                                            <div>
                                                                                @prixAuLitre€/Kg
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }

                                        }
                                    </div>
                                    @if (btq.Produits.Count > 3)
                                    {
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="top:60%;left:-10%;">
                                            <span><i class="fas fa-arrow-alt-circle-left fa-3x" style="color:black;"></i></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="top:60%;right:-10%;">
                                            <span><i class="fas fa-arrow-alt-circle-right fa-3x" style="color:black;"></i></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    @if (Model.listBtq.HasPreviousPage)
                    {
                        <div class="d-inline-flex">
                            @{int? ind = Model.page - 1;
                            }
                            <form method="get">
                                <input name="id" value="@Model.id" hidden /><input name="page" value="@ind" hidden />
                                <button type="submit" class="btn btn-primary">Précédent</button>
                            </form>
                        </div>
                    }
                    @if (!Model.listBtq.HasPreviousPage)
                    {
                        <div class="d-inline-flex">
                            <button type="submit" class="btn btn-primary" disabled>Précédent</button>
                        </div>
                    }
                    @if (Model.listBtq.HasNextPage)
                    {
                        <div class="d-inline-flex">
                            @{int? ind = Model.page + 1;
                            }
                            <form method="get">
                                <input name="id" value="@Model.id" hidden /><input name="page" value="@ind" hidden />
                                <button type="submit" class="btn btn-primary">Suivant</button>
                            </form>
                        </div>
                    }
                    @if (!Model.listBtq.HasNextPage)
                    {
                        <div class="d-inline-flex">
                            <button type="submit" class="btn btn-primary" disabled>Suivant</button>
                        </div>
                    }

                </div>

            }
        }
    }
}
else
{
    <style>
        div.imageborderp {
            border-radius: 999em;
            width: 70px;
            height: 70px;
            padding: 1px;
            line-height: 0;
            border: 2px solid #808080;
            background-color: #eee;
        }

        .imgMiniBoutp {
            display: block;
            background: transparent;
            padding: 4px;
            border: 1px solid #ccc;
            box-shadow: 10px 10px 10px #999;
            border-radius: 999em;
            height: 100%;
            width: 100%;
            margin: 0;
        }
    </style>
	<div class="flex-row mt-3">
	 <div class="d-flex justify-content-start">
	  <form method="get">
	   <input name="catId" value="@Model.catId" hidden />
	   <input name="pageIndex" value="@Model.pageIndex" hidden />
	   <button type="submit" class="btn btn-primary">Afficher par Boutiques</button>
	  </form>
 </div>
	 <div class="d-flex justify-content-end">
	  <form type="submit" asp-page-handler="ByProd">
	   <input name="id" value="@Model.id" hidden />
	   <input name="page" value="@Model.page" hidden />
	   <select name="sortOrder" onchange="this.form.submit()" class="form-control">
		<option value="default" selected>tri</option>
		<option value="price_asc">Prix croissants</option>
		<option value="price_desc">Prix décroissants</option>
	   </select>
	  </form>
	 
 </div>
	</div>

    <div class="card-group mt-3 mb-3 justify-items-center">
        @if (Model.listProduits.Count == 0)
        {
            <div>
                Aucun produit
            </div>
        }
        else
        {
            for (int i = 0; i < Model.listProduits.Count; i += 3)
            {
                <div class="row">
                    @foreach (var item in Model.listProduits.Skip(i).Take(3))
                    {
                        var media = item.Media.FirstOrDefault(m => m.Description == "mid");
                        var mediabtq = item.Btq.Media.FirstOrDefault(m => m.Description == "vignette");
                        var format = item.Formats.FirstOrDefault();
                        var prixAuKilo = format.Prix / format.Poids;
                        var prixAuLitre = format.Prix / format.Litre;

                        <div class="card mr-3" style="max-width: 18rem;">
                            <img src="@media.Lien" class="card-img-top" alt="...">
                            <div class="imageborderp" style="position: absolute; top: 35%; right: 2%; display: block;">
                                <img class="imgMiniBoutp" src="@mediabtq.Lien" />
                            </div>
                            <div class="card-body">
                                <a href="/Produits/DetailsProduit/?prodId=@item.Prodid" class="stretched-link"></a>
                                <h5 class="card-title">@item.PNom</h5>
                                <p class="card-text">@item.PDescriptionC</p>
                            </div>
                            <div class="card-footer">
                                @if (item.Rabais > 0)
                                {
                                    var prixRabais = Math.Round((decimal)format.Prix, 2) - Math.Round(((decimal)format.Prix * ((decimal)item.Rabais / 100)), 2);
                                    <div class="float-lg-right">@prixRabais €</div>
                                    <div class="float-lg-right">-@item.Rabais %</div>
                                    <strike class="float-lg-right">@format.Prix €</strike>
                                }
                                @if (item.Rabais == 0)
                                {
                                    <div class="float-lg-right">@format.Prix €</div>
                                }
                                @if (format.Poids > 0)
                                {
                                    <div class="float-lg-left">
                                        <div>
                                            @format.Poids Kg
                                        </div>
                                        <div>
                                            @prixAuKilo€/Kg
                                        </div>
                                    </div>
                                }
                                @if (format.Litre > 0)
                                {
                                    <div class="float-lg-left">
                                        <div>
                                            @format.Litre Kg
                                        </div>
                                        <div>
                                            @prixAuLitre€/Kg
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    }
                </div>
            }
        }
    </div>
    <div class="row justify-content-center">
        @if (Model.listProduits.HasPreviousPage)
        {
            <div class="d-inline-flex">
                @{int? ind = Model.page - 1;
                }
                <form method="post">
                    <input name="id" value="@Model.id" hidden /><input name="page" value="@ind" hidden /><input name="sortOrder" value="@Model.sortOrder" hidden/>
                    <button type="submit" asp-page-handler="ByProd" class="btn btn-primary">Précédent</button>
                </form>
            </div>
        }
        @if (!Model.listProduits.HasPreviousPage)
        {
            <div class="d-inline-flex">
                <button type="submit" asp-page-handler="ByProd" class="btn btn-primary" disabled>Précédent</button>
            </div>
        }
        @if (Model.listProduits.HasNextPage)
        {
            <div class="d-inline-flex">
                @{int? ind = Model.page + 1;
                }
                <form method="post">
                    <input name="id" value="@Model.id" hidden /><input name="page" value="@ind" hidden /><input name="sortOrder" value="@Model.sortOrder" hidden/>
                    <button type="submit" asp-page-handler="ByProd" class="btn btn-primary">Suivant</button>
                </form>
            </div>
        }
        @if (!Model.listProduits.HasNextPage)
        {
            <div class="d-inline-flex">
                <button type="submit" asp-page-handler="ByProd" class="btn btn-primary" disabled>Suivant</button>
            </div>
        }

    </div>
}
