@page
@model E_Shop.Pages.MaBoutique.Produit.GestionProduitModel
@{
}
<form method="post">
    <button type="submit" asp-page-handler="CrProduit" class="btn btn-primary">Ajouter un nouveau Produit</button>
    <a href="/MaBoutique/TableauDeBord" class="btn btn-primary">Retour au tableau de bord</a>
</form>
<div class="d-inline-block mr-5">
    @if (Model.produits.Count == 0)
    {
        <div>
            Liste vide
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="d-inline">Liste de vos produits</div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light"><tr><th>Aperçu</th><th>Nom</th><th>Description</th><th>Prix</th><th>Rabais</th><th>Publier</th><th>Action</th></tr></thead>

                    @foreach (var item in Model.produits)
                    {
                        <tbody>
                            <tr>
                                <th scope="row" width="15%">@item.Media.Where(m => m.Description == "min")</th>
                                <td width="15%">@item.PNom</td>
                                <td width="15%">@item.PDescriptionC</td>
                                <td width="15%">
                                    <ul>
                                        @foreach (var format in item.Formats)
                                        {
                                            <li>@format.Prix</li>
                                        }
                                    </ul>
                                </td>
                                <td width="15%">
                                    <ul>
                                        @foreach (var format in item.Formats)
                                        {
                                            @if (format.Poids > 0)
                                            {
                                                <li>@format.Poids</li>

                                            }
                                            @if (format.Litre > 0)
                                            {
                                                <li>@format.Litre</li>

                                            }
                                        }
                                    </ul>
                                </td>
                                @if (item.Publier == true)
                                {
                                    <td width="15%">
                                        "Publié"
                                    </td>
                                }
                                @if (item.Publier == false)
                                {
                                    <td width="15%">
                                        "Non Publié"
                                    </td>
                                }
                                <td>
                                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                        <a class="navbar-brand" href="#"></a>
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCatAct" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div id="navCatAct" class="navbar-collapse collapse d-sm-inline-flex justify-content-between flex-wrap">
                                            <ul class="navbar-nav flex-grow-1">
                                                <li class="nav-item">
                                                    <form method="post">
                                                        <input hidden asp-for="@Model.prodId" value="@item.Prodid" />
                                                        <button type="submit" asp-page-handler="UpProduit" class="btn btn-primary">Modifier<span class='sr-only'>(current)</span></button>
                                                        <button type="submit" asp-page-handler="DelProduit" class="btn btn-primary">Supprimer<span class='sr-only'>(current)</span></button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    }
</div>
