@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Models
@model Cart
<style>
    .fa-shopping-cart:after {
        content: attr(value);
        font-size: 12px;
        color: whitesmoke;
        padding: 3px;
        position: relative;
        left: -18px;
        top: -10px;
        opacity: 1;
    }

    div.imageborderp {
        border-radius: 999em;
        width: 70px;
        height: 70px;
        padding: 1px;
        line-height: 0;
        border: 2px solid #808080;
        background-color: #eee;
    }

    .imgMiniBoutp {
        display: block;
        background: transparent;
        padding: 4px;
        border: 1px solid #ccc;
        box-shadow: 10px 10px 10px #999;
        border-radius: 999em;
        height: 100%;
        width: 100%;
        margin: 0;
    }
</style>
@if (Model.Btqs.Count > 0)
{
    <div class="flex-row">
        <a id="carticon" href="/MonPanier/Panier" class="nav-link text-dark" onmouseover="ShowCart()"><i class="fas fa-shopping-cart fa-2x" id="counter" value="@Model.quantityTotal"></i></a>
    </div>
    <div id="cart" class="flex-column flex-wrap" style="position:absolute;z-index:1;right:15%;top:100px;" hidden>
        @foreach (var b in Model.Btqs)
        {
            <div id="items" class="list-group">
                <div class="flex-row list-group-item justify-content-center d-inline-flex">
                    <div class="imageborderp d-inline"><img class="imgMiniBoutp" src="@b.lien" /></div>
                    <div class="d-inline">
                        @b.nom
                    </div>
                </div>
                @foreach (var item in b.items)
                {
                    <div class="d-flex flex-sm-row flex-lg-row flex-md-row list-group-item flex-wrap flex-column">
                        <a href="/Produits/DetailsProduit/?prodId=@item.produit.Prodid" class="dropdown-item">
                            <img src="@item.lien" />
                            <div class="d-flex">X @item.quantity</div>
                            @if (item.format.Litre > 0)
                            {
                                <div class="d-inline-flex">@String.Format("{0:#,0.##}", item.format.Litre) l</div>

                            }
                            @if (item.format.Poids > 0)
                            {
                                <div class="d-inline-flex">@String.Format("{0:#,0.##}", item.format.Poids) kg</div>

                            }
                            <div class="d-inline-flex">@item.produit.PNom</div>
                            <div class="d-inline-flex">@item.price €</div>
                        </a>
                    </div>
                }
                <div class="flex-row list-group-item">
                    <div>@Model.prixTotal</div>
                </div>
                <div class="flex-row list-group-item">
                    <button href="/MonPanier/Panier" class="btn btn-primary btn-lg btn-block">Accéder au panier</button>
                </div>
            </div>
        }
    </div>
}
@if (Model.Btqs.Count == 0)
{<div class="flex-row">
        <a id="carticon" class="nav-link text-dark" onmouseover="ShowCart()"><i class="fas fa-shopping-cart fa-2x" id="counter"></i></a>
    </div>
    <div id="cart" class="flex-column flex-wrap" style="position:absolute;z-index:1;right:15%;top:100px;" hidden>
        <div id="items" class="list-group" onmouseleave="HideCart()">
            <div class="flex-row list-group-item">
                <h3>Panier vide</h3>
            </div>
        </div>
    </div>
}
<script>

    var cartdiv = document.getElementById("cart");
    var itemsUl = document.getElementById("items");
    document.addEventListener("click", function myfunction() {
        cartdiv.hidden = true;
    })
    function HideCart() {
        cartdiv.hidden = true;

    }
    function ShowCart() {
        if (@Model.Btqs.Count == 0) {
            cartdiv.hidden = false;

        }
        if (@Model.Btqs.Count > 0) {
            cartdiv.hidden = false;
        }
    }
</script>
