@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Models
@model Cart
<style>
    .fa-shopping-cart:after {
        content: attr(value);
        font-size: 12px;
        color: whitesmoke;
        padding: 3px;
        position: relative;
        left: -22px;
        top: -10px;
        opacity: 1;
    }
</style>
@if (Model.items.Count > 0)
{
    <a class="nav-link text-dark" onclick="ShowCart()"><i class="fas fa-shopping-cart fa-2x" id="counter" value="@Model.items.Count"></i></a>
    <div id="cart" class="flex-column" hidden>
        <ul id="items" class="list-group position-relative" style="z-index:100;">
           @foreach (var item in Model.items)
           {
            <li class="flex-row list-group-item">
                <a href="#" class="dropdown-item">
                    <img src="@item.lien" />
                    <div class="d-inline-flex">X @item.quantity</div>
                    @if (item.format.Litre > 0)
                    {
                <div class="d-inline-flex">@String.Format("{0:#,0.##}", item.format.Litre) l</div>

                    }
                    @if (item.format.Poids > 0)
                    {
                <div class="d-inline-flex">@String.Format("{0:#,0.##}", item.format.Poids) kg</div>

                    }
                    <div class="d-inline-flex">@item.produit.PNom</div>
                    <div class="d-inline-flex">@item.price €</div>
                </a>
            </li>
           }
            <li class="flex-row list-group-item">
                <div>@Model.prixTotal</div>
            </li>
        </ul>
    </div>

}
@if (Model.items.Count == 0)
{
    <a class="nav-link text-dark"><i class="fas fa-shopping-cart fa-2x" id="counter"></i></a>
    <div id="cart" class="flex-column"><ul id="items" class="list-group"></ul></div>
}
<script>
    var cartdiv = document.getElementById("cart");
    var itemsUl = document.getElementById("items");
    function ShowCart() {
        if (@Model.items.Count == 0) {
            var li = document.createElement("li");
            li.setAttribute("", "");
            li.textContent = "Panier vide";
            itemsUl.append(li);
            
        }
        if (@Model.items.Count > 0) {
            cartdiv.hidden = false;
        }
    }
</script>